h1 {
    background-color: #faebd7;
}

h2 {
    background-color: rgb(0, 0, 255);
}

h3 {
    background-color: hsl(0, 100%, 50%);
}

h4 {
    background-color: hwb(120 0% 50%);
}

img {
    border: 2px solid black;
    border-radius: 10px;
}

p {
    /* Background color
    Text color
    Font family
    Font size
    Borders
    Rounded corners on images */
    background-color: aquamarine;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
}